@import url("https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400;500;600;700;800&display=swap");

* {
  font-family: "Jost", sans-serif;
  margin: 0;
  padding: 0;
}

:root {
  --primary-blue: #37517e;
  --secondary-blue: #47b2e4;
  --light-grey-bg: #f3f5fa;
}

/* Common Css  */

.bg-primary {
  background-color: var(--primary-blue) !important;
}

.text-primary {
  color: var(--primary-blue) !important;
}

.bg-info {
  background-color: var(--secondary-blue) !important;
}

.text-info {
  color: var(--secondary-blue) !important;
}

/* Header  */

.header {
  background: var(--primary-blue);
}

.header .nav-link {
  transition: 0.3s ease-in-out;
  color: #fff;
}

.header .nav-link:hover {
  color: var(--secondary-blue);
}

.header .image-container img {
  animation: float 3s infinite;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0px);
  }
}

/* Company Logo */

.company-logo img {
  filter: grayscale(100);
  transition: 0.2s ease-in-out;
}
.company-logo img:hover {
  filter: grayscale(0);
  transform: scale(1.07);
}
