@import url("https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400;500;600;700;800&display=swap");

* {
  font-family: "Jost", sans-serif;
  margin: 0;
  padding: 0;
}

:root {
  --primary-blue: #37517e;
  --secondary-blue: #47b2e4;
  --light-grey-bg: #f3f5fa;
  --hover: 0.3s ease-in-out;
}

.dash {
  width: 120px;
  height: 2px;
  background: #dddd;
  margin: 0 auto;
  position: relative;
}

.dash::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 40px;
  height: 3.5px;
  background: var(--secondary-blue);
}

/* Common Css  */

.bg-primary {
  background-color: var(--primary-blue) !important;
}

.bg-light-gray {
  background: var(--light-grey-bg);
}

.text-primary {
  color: var(--primary-blue) !important;
}

.bg-info {
  background-color: var(--secondary-blue) !important;
}

.text-info {
  color: var(--secondary-blue) !important;
}

.btn-info-2 {
  background: transparent;
  border: 2px solid var(--secondary-blue);
  padding: 5px 32px;
  color: var(--secondary-blue);
  border-radius: 4px;
  transition: var(--hover);
}

.btn-info-2:hover {
  background: var(--secondary-blue);
  color: #fff;
}

.my-shadow {
  box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.1);
}

/* Header  */

.header {
  background: var(--primary-blue);
}

.header .play {
  transition: 0.3s ease-in-out;
}

.header .play:hover {
  color: var(--secondary-blue) !important ;
}

.header .image-container img {
  animation: flot 2.5s infinite;
}

@keyframes flot {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(20px);
  }

  100% {
    transform: translateY(0px);
  }
}

/* client  */

.client img {
  filter: grayscale(100);
  transition: var(--hover);
}

.client img:hover {
  filter: grayscale(0);
  scale: 1.07;
}

/* Service  */

.services .service-card {
  transition: var(--hover);
}

.services .service-card:hover {
  transform: translateY(-15px);
}

.services .service-card h3 {
  transition: var(--hover);
}

.services .service-card:hover h3 {
  color: var(--secondary-blue) !important;
}

/* Call To Action */

.call-to-action {
  background: linear-gradient(rgba(40, 58, 90, 0.9), rgba(40, 58, 90, 0.9)),
    url("./images/Banner/cta-bg.jpg") center;
}


/* TEAM  */

.team{
  background: var(--light-grey-bg);
}

.team .team-card{
  transition: var(--hover);
  border-radius:  7px;
}

.team .team-card:hover{
  transform: translateY(-7px);

}